.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  filter: brightness(0.6);

  transition: transform 250ms ease-in-out;
}

.rowTopWrapper:hover .bg {
  transform: scale(1.2);
}

.topRowGrid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
