.description {
  max-height: 0px;
  overflow: hidden;
}

.active {
  max-height: 500px;
  margin-top: 20px;

  animation: revealData 500ms ease-in-out;
}

@keyframes revealData {
  from {
    max-height: 0px;
  }
  to {
    max-height: 500px;
  }
}
