@import "tippy.js/dist/tippy.css";
@import "tippy.js/animations/shift-away-subtle.css";

/**
 * Poppins UI font
 */

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Colors */
  --color-neutral-light: #ffffff;
  --color-neutral-dark: #010101;

  --color-sand-50: #fcfaf5;
  --color-sand-100: #E3E1DD;
  --color-sand-200: #CAC8C4;
  --color-sand-300: #B0AFAC;
  --color-sand-400: #979693;
  --color-sand-500: #7E7D7B;
  --color-sand-600: #656462;
  --color-sand-700: #4C4B49;
  --color-sand-800: #323231;
  --color-sand-900: #191918;
  --color-sand-950: #010101;

  --color-br-green-50: #A4C0BA;
  --color-br-green-100: #77A197;
  --color-br-green-200: #609186;
  --color-br-green-300: #498175;
  --color-br-green-400: #337263;
  --color-br-green-500: #1C6252;
  --color-br-green-600: #19584A;
  --color-br-green-700: #164E42;
  --color-br-green-800: #144539;
  --color-br-green-900: #113B31;
  --color-br-green-950: #0B2721;

  --color-grey-50: #F2F2F2;
  --color-grey-100: #E6E6E6;
  --color-grey-200: #CCCCCC;
  --color-grey-300: #B3B3B3;
  --color-grey-400: #999999;
  --color-grey-500: #808080;
  --color-grey-600: #666666;
  --color-grey-700: #4C4C4C;
  --color-grey-800: #333333;
  --color-grey-900: #191919;
  --color-grey-950: #0D0D0D;

  --color-blue-50: #A8ABD8;
  --color-blue-100: #7C81C5;
  --color-blue-200: #666CBB;
  --color-blue-300: #5157B1;
  --color-blue-400: #3B42A8;
  --color-blue-500: #252D9E;
  --color-blue-600: #21298E;
  --color-blue-700: #1E247E;
  --color-blue-800: #1A1F6F;
  --color-blue-900: #161B5F;
  --color-blue-950: #0F123F;

  --color-green-50: #A8D8B5;
  --color-green-100: #7CC591;
  --color-green-200: #66BB7E;
  --color-green-300: #51B16C;
  --color-green-400: #3BA859;
  --color-green-500: #459761;
  --color-green-600: #218E40;
  --color-green-700: #1E7E39;
  --color-green-800: #1A6F32;
  --color-green-900: #165F2B;
  --color-green-950: #0F3F1C;

  --color-red-50: #F6AFAF;
  --color-red-100: #F18786;
  --color-red-200: #EF7372;
  --color-red-300: #ED5F5E;
  --color-red-400: #EA4B4A;
  --color-red-500: #E83736;
  --color-red-600: #D13231;
  --color-red-700: #BA2C2B;
  --color-red-800: #A22726;
  --color-red-900: #8B2120;
  --color-red-950: #5D1616;

  --color-yellow-50: #FFE1B5;
  --color-yellow-100: #FFD38F;
  --color-yellow-200: #FFCB7D;
  --color-yellow-300: #FFC46A;
  --color-yellow-400: #FFBC58;
  --color-yellow-500: #FFB545;
  --color-yellow-600: #E6A33E;
  --color-yellow-700: #CC9137;
  --color-yellow-800: #B37F30;
  --color-yellow-900: #996D29;
  --color-yellow-950: #66481C;

  --color-orange: #ED6C18;




  --color-gold-gradient: linear-gradient(90deg, #fcc678 0%, #bb9040 100%);

  --color-dark-blue-200: #313b51;
  --color-dark-blue-300: #1d273c;
  --color-dark-blue-400: #101828;
  --color-dark-blue-500: #0b1120;

  --color-light-blue-100: #797e89;
  --color-light-blue-200: #636976;
  --color-light-blue-300: #4d5362;
  --color-light-blue-400: #363e4f;
  --color-light-blue-500: #20283b;

  --color-purple-500: #7757cf;

  /* Font sizes */
  --large-body-size: 20px;
  --body-size: 16px;
  --small-body-size: 14px;
  --tiny-body-size: 12px;
  --extra-tiny-body-size: 10px;

  --hero-size: 64px;
  --h1-size: 56px;
  --h2-size: 44px;
  --h3-size: 32px;
  --h4-size: 24px;
  --h5-size: 20px;

  /* Font weights */
  --regular-weight: 400;
  --medium-weight: 500;
  --semibold-weight: 600;
  --bold-weight: 700;
  --extra-bold-weight: 800;

  --space-1: 4px;
  --space-2: 8px;
  --space-4: 16px;
  --space-3: 12px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;
  --space-11: 44px;
  --space-12: 48px;
  --space-16: 64px;
  --space-17: 68px;
  --space-18: 72px;
  --space-20: 80px;
  --space-24: 96px;
  --space-32: 128px;

  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 20px;
  --size-6: 24px;
  --size-7: 28px;
  --size-8: 32px;
  --size-9: 36px;
  --size-10: 40px;
  --size-11: 44px;
  --size-12: 48px;
  --size-14: 56px;
  --size-16: 64px;

  --small-width: 480px;
  --medium-width: 768px;
  --large-width: 1024px;
  --extra-large-width: 1140px;
  --container-width: 1440px;
}

/**
 * Popper JS
 */

[data-popper-reference-hidden] {
  visibility: hidden;
  pointer-events: none;
}

/**
 * Tippy JS
 */

.tippy-content {
  white-space: pre-line;
}

.tippy-box[data-theme~="equiteez"] {
  background-color: #28ad80;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

/* Right placement tooltip arrow (arrow will be on left side of tooltip) */
.tippy-box[data-theme~="equiteez"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: #28ad80;
}

/* Left placement tooltip arrow (arrow will be on right side of tooltip) */
.tippy-box[data-theme~="equiteez"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: #28ad80;
}

/* Top placement tooltip arrow (arrow will be on bottom side of tooltip) */
.tippy-box[data-theme~="equiteez"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: #28ad80;
}

/* Bottom placement tooltip arrow (arrow will be on top side of tooltip) */
.tippy-box[data-theme~="equiteez"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: #28ad80;
}

/* Styles reset */

/* Hide default scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Style the scrollbar track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Style the scrollbar thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 6px;
}

/* Optionally, style the scrollbar when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #bbbbbb; /* A slightly darker shade */
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #cccccc none;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #cccccc transparent;
}

body {
  font-family: Poppins, system-ui, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

::selection {
  background-color: #194c98;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: normal;
}

.overflowYHidden {
  overflow-y: hidden;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input {
  outline: none;
  background-color: transparent;
}
input:focus {
  outline: none;
}

input:disabled {
  background: transparent;
  pointer-events: none;
  cursor: none;
}

/* EXTEND  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.eq-input {
  @apply items-center border border-gray-100 rounded-lg;
}

.eq-slider {
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.eq-table-cell {
  @apply whitespace-nowrap pr-2 py-3 text-caption-regular;
}

.eq-table-cell-small {
  @apply whitespace-nowrap py-1 text-caption-regular;
}

.banner-rounded {
  border-radius: 32px;
  margin-inline: 8px;
}

.remove-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}
.remove-scrollbar::-webkit-scrollbar {
  display: none; /* Older Safari and Chromium */
}

@media (max-width: 600px) {
  input,
  button {
    pointer-events: none;
  }
}
