@import "../../../../../styles/breakpoints.css";

.tab {
  min-width: 50%;
}
.tabsWrapper {
  min-width: 100%;
}

.orderBookPopup {
  max-width: 407px;
}

.orderBookPopupContent {
  overflow: hidden;
  padding-top: 64px;
}

@media (--media-tablet-min) {
  .tab {
    min-width: auto;
    flex: 1;
  }
  .tabsWrapper {
    background: var(--color-sand-200);
  }

  .orderBookPopup {
    max-width: 100%;
  }
}
