@import "../../../../styles/breakpoints.css";
.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);

  @media (--media-tablet-min) {
    gap: var(--space-4);
  }

  & .sectionTitle {
    @media (--media-tablet-min) {
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
    }
  }

  & .reasonsGrid {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);

    @media (--media-phone) {
      gap: var(--space-4);
    }

    & .reasonRow {
      display: flex;
      justify-content: space-between;
      gap: 33px;

      @media (--media-tablet-min) {
        gap: var(--space-4);
      }

      @media (--media-phone) {
        flex-direction: column;
        gap: var(--space-4);
      }

      & .reasonCard {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
        width: 100%;

        & .cardTitle,
        & .cardText {
          @media (--media-tablet-min) {
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
    }
  }
}
