@import "../../styles/breakpoints.css";

.dropdown .accountIcon {
  display: none;
}
@media (--media-tablet-max) {
  .hashShortView {
    display: none;
  }
  .dropdown svg {
    display: none;
  }
  .dropdown .accountIcon {
    display: block;
  }
  .dropdown {
    border: none;
    padding: 0 4px;
  }
  .dropdown:hover {
    background: transparent;
  }
  .identIcon {
    display: none;
  }
}
