.dropdowntable {
  width: 100%;
  flex: 1;
}

.dropdowntable .grid {
  display: grid;
  grid-template-columns: 28px repeat(3, minmax(119px, 1fr));
}

.dropdowntable .tableHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

.dropdowntable .tableHeader::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e8e7;
}
