.dropdowntable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  flex: 1;
}

.dropdowntable thead .divider {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #e6e8e7;
}

.dropdowntable th:first-child,
.dropdowntable td:first-child {
  width: auto;
}

.dropdowntable td.star:first-child {
  width: 28px;
}

.dropdowntable th:not(:first-child),
.dropdowntable td:not(:first-child) {
  width: 119px;
}

.dropdowntable .header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
