.dropdowntable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  overflow-y: auto;
  flex: 1;
}

.dropdowntable th:first-child,
.dropdowntable td:first-child {
  width: auto;
}

.dropdowntable th:not(:first-child),
.dropdowntable td:not(:first-child) {
  width: 119px;
}
