.header {
  width: 100%;
  color: var(--r-color-neutral-black);
  background: var(--r-color-neutral-white);
  border-bottom: var(--r-border-width-sm) solid var(--r-color-neutral-100);
}

.inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: var(--r-space-3) 100px;
}

.logo {
  justify-self: start;
  max-width: 135px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: var(--r-space-10);
}

.wallet {
  display: flex;
  align-items: center;
  gap: var(--r-space-2);
  justify-self: end;
}

.wallet .depositButton {
  padding: 9px 14px 9px var(--r-space-4);
  min-height: auto;
  border: var(--r-border-width-sm) solid var(--r-color-neutral-100);
}
