.wrapper {
  padding: var(--r-space-11) 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: var(--r-space-5);
}
.section {
  display: flex;
  flex-direction: column;
  gap: var(--r-space-3);
}
.sectionList {
  display: flex;
  flex-direction: column;
  gap: var(--r-space-3);
}
.cardWrapper {
  border: 1px solid var(--r-color-neutral-100);
  border-radius: var(--r-radius-md);
  padding: var(--r-space-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all var(--r-transition-duration-base) ease;
}
.cardWrapper:hover {
  background: var(--r-color-neutral-50);
}
.cardBlock {
  display: flex;
  flex-direction: column;
  gap: var(--r-space-1);
}
.cardWrapper .cardBlock:last-child {
  justify-content: end;
  align-items: end;
}
