.progressBar {
  position: relative;
  height: 5px;
  border-radius: 8px;
}

.progressBar::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 8px;
  @apply bg-divider opacity-50;
  z-index: 0;
}

.progressPercentage::after {
  content: '';
  position: absolute;
  border-radius: 8px;
  /* TODO replace with var passed from data */
  width: 40%;
  height: 100%;
  inset: 0;
  @apply bg-green-main opacity-50;
  z-index: 1;
}
