@import "../../../styles/breakpoints.css";

.menuButton {
  display: none;
}
.connectWalletWrapper {
  width: 234px;
}
@media (--media-tablet-max) {
  .menuButton {
    display: block;
    margin-right: 8px;
  }
  .headerWrapper,
  .connectWalletWrapper {
    width: auto;
  }
}
