@import "../../styles/breakpoints.css";

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-light-blue-500);
  color: var(--color-yellow-500);
}
.orderItem,
.orderRow {
  width: 100%;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.5fr;
  align-items: center;
  transition: all 0.2s ease;
}
.orderItem:hover {
  background: var(--color-dark-blue-300);
}
.roundedWrapper {
  padding: 24px 0;
}
.orderCancelBtn {
  text-decoration: underline;
  color: var(--color-light-blue-100);
  font-size: var(--small-body-size);
  font-weight: var(--extra-bold-weight);
  transition: all 0.2s ease;
  text-transform: capitalize;
  padding: 8px 0;

  @media (--media-tablet-max) {
    display: none;
  }
}

.orderCancelBtn:hover {
  color: var(--color-yellow-500);
}
.orderItemSecondary {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.assetName {
  text-decoration: underline;
  color: var(--color-yellow-100);
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80px;
  font-weight: 700;
  font-size: 14px;
  display: block;
  white-space: nowrap;
  transition: all 0.2s ease;
}
.assetName:hover {
  color: var(--color-yellow-300);
}
.desktopBlock {
  display: block;
  @media (--media-tablet-max) {
    display: none;
  }
}
.mobileBlock {
  display: none;
  @media (--media-tablet-max) {
    display: block;
  }
}
