.thumbCardWrapper {
  container-type: inline-size;
  container-name: cardWrapper;

  position: relative;
  height: var(--card-height);

  border-radius: 16px;

  overflow: hidden;
}

.thumbCardWrapper:hover img {
  scale: 1.1;
}

.thumbCardContent {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(1, 1, 1, 0.1) 31.35%,
    rgba(1, 1, 1, 0.75) 100%
  );
  position: absolute;
  inset: 0;
  z-index: 2;
}

@container cardWrapper (max-width: 406px) {
  .title {
    max-width: 200px;
  }
}

@container cardWrapper (min-width: 407px) {
  .title {
    max-width: 250px;
  }
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.thumbCardImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 0;
  z-index: 1;

  transition: all 500ms ease-in-out;
}

/* progress bar styles */
.progressBar {
  position: relative;
  height: 5px;
  border-radius: 8px;
}

.progressBar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  @apply bg-divider-secondary opacity-50;
  z-index: 0;
}

.progressPercentage::after {
  content: "";
  position: absolute;
  border-radius: 8px;
  /* TODO replace with var passed from data */
  width: var(--percentage);
  height: 100%;
  inset: 0;
  z-index: 1;
}

.progressBarContainer {
  display: grid;
  grid-template-columns: 1fr min-content;
}

/* primary card */

.cardPrimary {
  border-radius: 16px;
  border: 1px solid var(--Grey-100, #e6e6e6);

  /* Shadow for cards */
  box-shadow:
    0.5px 0.5px 0px 0px rgba(0, 0, 0, 0.07),
    1px 2px 15px 0px rgba(0, 0, 0, 0.05);
}

.cardPrimary .imgWrapper {
  width: 100%;
  height: 249px;

  border-radius: 16px;
  overflow: hidden;
}

.imgWrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  transition: transform 250ms ease-in-out;
}

.cardPrimary:hover .imgWrapper img {
  transform: scale(1.2);
}

.primaryHeader {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
